/*menu hamburguer*/

.titulo-menu{ /*para as outras paginas tambem*/
    margin: 60px 0;
}


/*Hamburguers*/
.categoria-hamburguer{
    display: grid;
    grid-template-rows: 1fr auto  auto; /*isso e fantastico*/
    grid-template-columns: 1fr 1fr;
    
}

.escolha-hamburguer{
 margin: 60px 0 0 0;
    
}

.escolha-hamburguer img, .escolha-cerveja img, .escolha-petiscos img{
    display:grid ;
    /*margin-top: 60px;*/
    margin-left: auto;
    margin-right: auto;
    
}
.escolha-hamburguer h3, .escolha-petiscos h3{
    text-align: center;
    padding-bottom: 30px;
}


.escolha-hamburguer p, .escolha-cerveja p, .escolha-petiscos p{
    color: var(--cor-primaria);
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin: 0 60px;
    padding-top: 30px;
}

/*cervejas*/

.categoria-cerveja{
    display: grid;
    grid-template-rows: 1fr auto; /*isso e fantastico*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom:120px ;
}

.escolha-cerveja img{
    margin-top: 60px;
}

.escolha-cerveja h3{
    text-align: center;
    padding: 30px 0 0 0;
    
}



/*petiscos*/

.categoria-petiscos{
    display: grid;
    grid-template-rows: 1fr; /*isso e fantastico*/
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 60px;
    
    
}

@media (max-width: 900px){
    .categoria-cerveja{
       
        grid-template-rows: 1fr auto 1fr; /*isso e fantastico*/
        grid-template-columns: 1fr 1fr 1fr;
       
    }

    .categoria-petiscos{
        display: flex;
        justify-content: center;        
        
    }

    .escolha-petiscos img{
        width: 200px;
        height: 200px;
        object-fit: scale-down;
        
    }

    .escolha-petiscos h3{
         font-size: 28px; 

     }

    .escolha-petiscos p{
        font-size: 22px; 
        margin: 0 15px;
    }

}



