/*
font-family: 'Prompt', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

:root{

    --cor-primaria: rgb(207, 117, 0);
    --cor-secundaria:rgba(207, 117, 0, 0.5);

}

body{
    
 background: black  url(../imagens/textura.png) no-repeat;
 background-size: 100% 100%;
 font-family: 'Roboto', sans-serif; 
 max-width: 1200px;
 min-width: 320px;
 margin: auto;
}





/* posicionamento do menu*/
#header{
    padding: 20px 0;
    height: 45px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu{
    
    display: flex;
    top: 30px;
    right: 0;
}

#menu li{
    display: inline;
    margin-left: 20px;
   
}

#menu a{
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 20px;
    display:block;
    
    transform: translateZ(0);
    backface-visibility: hidden;
    transition-duration: 1s;
    
}

#menu  a:hover,a:focus, a:active {
    transform: scale(1.2);
    text-decoration:underline overline; 
    text-decoration-thickness: 2px;
}

#btn-mobile {
    display: none;
}


h2{
    font-family: 'Roboto', sans-serif; 
    font-size: 52px;
    font-weight: 600;
    color:var(--cor-primaria); 
    
}

h3{
    font-size:32px ;
    color: var(--cor-primaria);
    line-height: 40px;
    padding-top: 25px;
}



/*banner inicio*/
.caixa-baner{
    /*display: flex;*/
    display: grid;
    grid-template-areas: "l r";
    /*grid-template-columns: 1fr;*/
}

.hamburguer-baner {
    /*flex-flow: row nowrap;
    justify-content: flex-start;*/

    grid-area: "l";
    height: 80%;
    /*width: 60vw;
    height: 60vh;*/
    
    margin-top: 60px;
}

.texto-baner{
    grid-area: "r";
    /*flex-flow: row nowrap;
    justify-content: flex-end;*/
    margin: 11em 0 0 6.5em;
    text-align: center;
    
}

.texto-baner h2{
    grid-area: "r";
    font-family: 'Roboto', sans-serif; 
    font-size: 4.3em;
    font-weight: 600;
    color:var(--cor-primaria); 
    
}

.btn-pedido{
    margin-top: 60px ;
    width: 250px;
    height: 55px;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif; 
    border: none;
    background-color: var(--cor-primaria); 
    border-radius: 25px;
    cursor: pointer;
}

.btn-pedido:hover {
    background-color: var(--cor-secundaria) ;
    border: 2px solid var(--cor-primaria);
    color: white;
    transition: all 0.5s ease-in;
    transition-delay: 0.05s;
    
}


/*cardapio*/

.caixa-cardapio{
    display: grid; 
    margin: 20px auto 30px auto;
    grid-template-columns:  50%;
    margin: 60 auto;
}

.texto-cardapio{
    grid-column: 1;
    grid-row: 1;
    margin:  250px 60px ;
    text-align: center;
    
}

.mosaico-hamburguer{
    grid-column: 2;
    grid-row: 1;
    margin:  100px 60px ;
    text-align: center;
    
}
.row-hamburguers img{
    padding: 1em;
}

.row-hamburguers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
}

.row1{
    grid-column: 2;
    grid-row: 2;
   
}
.row2{
    grid-column: 1;
    grid-row: 2;
}

/*bebidas*/

.caixa-bebida{
    display: flex;
    margin: 60px 100px;
}

.pint-baner{
    justify-content: flex-start;
    height: 450px ;
}

.texto-bebida{
    justify-content: flex-end;
    text-align: right;
    margin: 60px 30px 0px 100px;
}




/*acompanhamento*/

.caixa-acompanhamento{
    display: flex;
}

.texto-acompanhamento{
    justify-content: flex-start;
    margin: 100px 100px 100px 30px;
    padding-top: 80px;
}

.fritas-banner{
    justify-content: flex-end ;
    height: 600px;
}


/*foother*/

footer h2{
    text-align: center;
    font-size: 2.62em;
    margin-bottom: 15px;
}

.newsletter{
    margin: auto;
    border: 3px solid var(--cor-primaria);
    height: 60px;
	width: 596px;
	display: flex;
	align-items: center;
	border-radius: 15px;
	padding-right: 5px;
	background-color:#EDE1D1 ;
    
}

footer input {
	border: 0;
	flex: 1;
	padding: 0 16px;
	outline: none;
	background-color: transparent;
    font-size: 26px;
}



footer button {
	height: 55px;
	width: 175px;
    font-size: 1.625em;
    border: 0;
	border-radius: 15px;
	background-color: var(--cor-primaria);
	cursor: pointer;
}

footer button:hover {
    background-color: var(--cor-secundaria) ;
    border: 2px solid var(--cor-primaria);
    color: rgb(0, 0, 0);
    transition: all 0.5s ease-in;
    transition-delay: 0.05s;
}


.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 30px 60px;
}

.redes-sociais h3{
    font-size: 42px ;
    color:  var(--cor-primaria);
    padding-bottom: 30px;
}

.redes-sociais li  {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    transition: 1s;
}

.redes-sociais li:hover, li:focus, li:active{
        transform: scale(1.2);
        
}

footer p{
    text-align: center;
    color: var(--cor-primaria);
    padding: 10px 0;
}


