/*
font-family: 'Prompt', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

:root{

    --cor-primaria: rgb(207, 117, 0);
}

body{
 background-color: black;
 background-image: url(imagens/textura.png);
 background-repeat: no-repeat;
 background-size: 100%;
 font-family: 'Roboto', sans-serif; 
 width: 1200px;
 margin: 0 auto;
}



/* posicionamento do menu*/
header{
    padding: 20px 0;
    height: 45px;
}

.caixa-header{
    position: relative;

}

nav{
    position: absolute;
    top: 6px;
    right: 0;
}

nav li{
    display: inline;
    margin-left: 20px;
   
}

nav a{
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.2s;
    transition-property: transform;
    
}

nav a:focus,
nav a:hover,
nav a:active {
    transform: scale(1.2);
    text-decoration:underline overline;   
}



/*baner inicio*/
.caixa-baner{
    display: flex;
   
}

.hamburguer-baner{
    justify-content: flex-start;
    margin-top: 60px;
    width: 60%;
    
}

.texto-baner{
    justify-content: flex-end;
    margin-top: 175px;
    text-align: center;
    width: 40%;
}

 h2{
    
    font-family: 'Roboto', sans-serif; 
    font-size: 72px;
    font-weight: 600;
    color:var(--cor-primaria); 
    line-height: 80px;
    
}

.btn-pedido{
    margin-top: 60px ;
    width: 250px;
    height: 55px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif; 
    border: none;
    background-color: var(--cor-primaria); 
    border-radius: 25px;
    
}

/*cardapio*/

.caixa-cardapio{
    display: flex;
    margin: 75px 0;
}

.texto-cardapio{
    justify-content: flex-start;
    margin:  100px;
    text-align: center;
    
}

.mosaico-hamburguer{
    justify-content: flex-end;
    
}

/*bebidas*/

.caixa-bebida{
    display: flex;
    margin: 60px 0;
}

.pint-baner{
    justify-content: flex-start;
    margin:0  100px;

}

.texto-bebida{
    justify-content: flex-end;
    text-align: right;
    margin: 120px 30px 0px 100px;
}

.texto-bebida h3, .texto-acompanhamento h3{
    font-size:32px ;
    color: var(--cor-primaria);
    line-height: 40px;
    padding-top: 25px;
}


/*acompanhamento*/

.caixa-acompanhamento{
    display: flex;
}

.texto-acompanhamento{
    justify-content: flex-start;
    margin: 130px 100px 130px 30px;
    padding-top: 80px;
}

.fritas-banner{
    justify-content: flex-end ;
}


/*foother*/

footer h2{
    text-align: center;
    font-size: 42px;
    margin-bottom: 15px;
}

.newsletter{
    border: 3px solid var(--cor-primaria);
    height: 60px;
	width: 596px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 15px;
	padding-right: 5px;
	background-color:#EDE1D1 ;
    
}

input {
	border: 0;
	flex: 1;
    color: #000;
	padding: 0 16px;
	outline: none;
	background-color: transparent;
    font-size: 26px;
    
}



button {
	
	height: 55px;
	width: 175px;
    font-size: 24px;
    border: 0;
	border-radius: 15px;
	background-color: var(--cor-primaria);
	cursor: pointer;
}
